---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import IconBoxes from "../components/IconBoxes.astro";
import ChecklistSplit from "../components/ChecklistSplit.astro";
import TestimonialScroller from "../components/TestimonialScoller.astro";
import SimpleBoxes from "../components/SimpleBoxes.astro";
import FullCta from "../components/FullCta.astro";
import FeatureIcons from "../components/FeatureIcons.astro";
import MediaSplit from "../components/MediaSplit.astro";
import { getEntry } from "astro:content";

import heroImage from "../assets/images/home/hero.jpg";
import whyImage from "../assets/images/home/why-firm-page.jpg";
import ctaImage from "../assets/images/home/firm-page-cta.jpg";

// Get page content from markdown frontmatter
const pageData = await getEntry("pages", "index");
if (!pageData) {
  throw new Error("Failed to load index page data");
}
const { hero, howItWorks, whySection, features, cta } = pageData.data;
---

<Layout>
  <div>
    <Hero
      title={hero.title}
      description={hero.description}
      image={heroImage}
    />
  </div>
  <section class="section">
    <div class="has-background-light">
      <div>
        <IconBoxes
          title={howItWorks.title}
          subtitle={howItWorks.subtitle}
          button={true}
          buttonText={howItWorks.buttonText}
          buttonLink={howItWorks.buttonLink}
          items={howItWorks.items}
        />
      </div>
      <div>
        <MediaSplit
          title={whySection.title}
          subtitle={whySection.subtitle}
          description={whySection.description}
          imageSrc={whyImage}
          imageAlt={whySection.imageAlt}
          mediaOnRight={false}
          showButton={true}
          buttonText={whySection.buttonText}
          buttonUrl={whySection.buttonUrl}
        />

      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div>
        <FeatureIcons
          title={features.title}
          subtitle={features.subtitle}
          description={features.description}
          showDescriptionOnHover={true}
          items={features.items}
        />
      </div>
    </div>
  </section>
  <TestimonialScroller />

  <div>
    <FullCta
      title={cta.title}
      image={ctaImage}
      link={cta.link}
      buttonText={cta.buttonText}
    />
  </div>
</Layout>
