---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  logo?: ImageMetadata;
}

interface NavItem {
  text: string;
  href: string;
}

const { logo } = Astro.props;

// Get base URL for GitHub Pages support
const base = import.meta.env.BASE_URL;

const navigation: NavItem[] = [
  { text: "Home", href: base },
  { text: "How It Works", href: `${base}/how-it-works` },
  { text: "Examples", href: `${base}/examples` },
  { text: "Pricing", href: `${base}/pricing` },
  { text: "Login", href: `${base}/login` },
];

const currentYear = new Date().getFullYear();
---

<footer class="footer has-background-dark">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-flex is-justify-content-center-mobile">
        <a href={base} class="is-block">
          <svg
            width="239"
            height="46"
            viewBox="0 0 239 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_0_298)">
              <path
                d="M27.528 38.8047L27.5155 38.7985H20.9016V38.7861L4.86852 38.7985L4.89345 18.8248V13.433H11.9064V8.6218H0.0561033L0.0374022 8.60327V8.6218L0 43.6221L29.1363 43.5912H32.3778V31.8318H27.528V38.8047Z"
                fill="#03A5FF"></path>
              <path
                d="M15.9333 0V13.989H20.7831V4.83593L39.1663 4.82358L39.1352 23.0185L39.1414 23.0247H15.8648V25.2481V27.8359H44.0348V0H15.9333Z"
                fill="#03A5FF"></path>
              <path
                d="M56.9515 23.068V16.089C56.9515 14.2855 56.9203 12.5068 56.8642 10.7466L53.5916 10.4007V8.06616H76.1513L76.4568 15.5023H72.835L71.9623 10.4872H64.3696C64.3384 12.1301 64.3197 13.7853 64.3073 15.459C64.2948 17.1328 64.2823 18.8188 64.2823 20.5173H69.1259L69.6496 17.1451H72.1804V26.8725H69.6496L69.0823 23.068H64.2823C64.2823 25.0012 64.2886 26.8355 64.3073 28.5833C64.3197 30.325 64.3447 32.0482 64.3696 33.7466L68.2532 34.1357V36.4703H53.5916V34.1357L56.8642 33.7898C56.9203 32.0296 56.9515 30.2571 56.9515 28.4722V23.068Z"
                fill="white"></path>
              <path
                d="M89.1789 34.4938V36.4702H77.9458V34.4938L80.2335 33.9874C80.2585 32.9806 80.2772 31.8875 80.2772 30.714V25.631C80.2772 24.4823 80.2709 23.5249 80.2585 22.7529C80.246 21.9809 80.2086 21.178 80.1525 20.3381L77.5219 19.9613V18.3246L86.4236 15.5083L87.1467 15.9715L87.022 22.0612V30.7325C87.022 31.9245 87.0345 33.0362 87.0657 34.0738L89.1851 34.4938H89.1789Z"
                fill="white"></path>
              <path
                d="M83.5819 14.2545C82.5908 14.2545 81.743 13.9396 81.0386 13.3096C80.3342 12.6796 79.9789 11.8891 79.9789 10.938C79.9789 9.98682 80.3342 9.15304 81.0386 8.52308C81.743 7.89311 82.5908 7.57812 83.5819 7.57812C84.5731 7.57812 85.4209 7.89311 86.1253 8.52308C86.8297 9.15304 87.185 9.95594 87.185 10.938C87.185 11.92 86.8297 12.6796 86.1253 13.3096C85.4209 13.9396 84.5731 14.2545 83.5819 14.2545Z"
                fill="white"></path>
              <path
                d="M90.4513 36.4702V34.4939L92.7827 34.0307C92.8076 32.9931 92.8263 31.8875 92.8263 30.7141V25.1679C92.8263 24.3835 92.8201 23.7412 92.8076 23.2347C92.7952 22.7283 92.7765 22.2651 92.764 21.8266C92.7515 21.3942 92.7266 20.894 92.7017 20.3381L90.1147 19.9614V18.3247L98.4678 15.5084L99.2283 15.9716L99.6086 20.9249C100.176 19.1029 100.999 17.7503 102.09 16.8486C103.174 15.9531 104.246 15.5022 105.288 15.5022C106.223 15.5022 107.027 15.7616 107.706 16.2804C108.386 16.7992 108.81 17.5774 108.978 18.6088C108.947 19.702 108.654 20.5481 108.086 21.1472C107.519 21.7525 106.815 22.0489 105.967 22.0489C104.783 22.0489 103.692 21.3942 102.701 20.0726L102.445 19.739C101.822 20.3258 101.248 21.0669 100.731 21.9625C100.207 22.858 99.833 23.7968 99.6086 24.7788V30.6152C99.6086 31.7331 99.6211 32.7831 99.6522 33.7651L103 34.4815V36.4579H90.4513V36.4702Z"
                fill="white"></path>
              <path
                d="M137.503 15.5082C139.654 15.5082 141.218 16.1258 142.21 17.3549C143.201 18.5901 143.693 20.4491 143.693 22.9381V30.751C143.693 31.9244 143.706 33.0176 143.737 34.0243L145.856 34.4875V36.4639H134.922V34.4875L136.998 33.9811C137.023 32.9744 137.042 31.8874 137.042 30.7262V23.5681C137.042 21.9993 136.861 20.9432 136.493 20.3997C136.125 19.8562 135.502 19.5783 134.629 19.5783C133.445 19.5783 132.254 20.0847 131.07 21.0914C131.095 21.3447 131.12 21.6041 131.132 21.8696C131.145 22.1352 131.151 22.4255 131.151 22.7281V30.7695C131.151 31.9306 131.163 33.03 131.195 34.0675L133.189 34.4875V36.4639H122.255V34.4875L124.462 33.9811C124.487 32.9744 124.506 31.8874 124.506 30.7262V23.6051C124.506 22.1229 124.331 21.0791 123.976 20.4738C123.621 19.8747 122.979 19.5721 122.05 19.5721C121.458 19.5721 120.865 19.7142 120.267 19.9921C119.675 20.27 119.107 20.6344 118.571 21.0853V30.7262C118.571 31.9182 118.584 33.03 118.615 34.0675L120.61 34.4875V36.4639H109.464V34.4875L111.752 33.9811C111.777 32.9744 111.795 31.8812 111.795 30.7077V25.2048C111.795 24.056 111.789 23.1666 111.777 22.5367C111.764 21.9067 111.727 21.1717 111.671 20.3318L109.084 19.955V18.3184L117.437 15.502L118.197 15.9652L118.453 19.0286C119.469 17.8551 120.51 16.972 121.57 16.3852C122.629 15.7985 123.795 15.502 125.067 15.502C127.978 15.502 129.854 16.7496 130.702 19.2386C131.887 17.8366 133.021 16.867 134.093 16.3173C135.165 15.7738 136.312 15.4958 137.528 15.4958L137.503 15.5082Z"
                fill="white"></path>
              <path
                d="M153.916 23.068V16.089C153.916 14.2855 153.885 12.5068 153.829 10.7466L150.556 10.4007V8.06616H162.425C165.448 8.06616 167.892 8.4182 169.756 9.12846C171.62 9.83254 172.979 10.8269 173.833 12.1115C174.693 13.3962 175.123 14.897 175.123 16.6263C175.123 18.3556 174.724 19.7761 173.92 21.1411C173.122 22.5122 171.807 23.5992 169.974 24.4083C168.141 25.2173 165.642 25.6188 162.469 25.6188H161.247C161.247 26.8602 161.253 28.1634 161.272 29.5283C161.284 30.8994 161.309 32.3014 161.34 33.7404L165.224 34.1295V36.4641H150.562V34.1295L153.835 33.7837C153.891 32.0235 153.922 30.2509 153.922 28.466V23.0619L153.916 23.068ZM162.338 10.5737H161.334C161.303 12.3586 161.284 14.162 161.265 15.9778C161.253 17.7936 161.241 19.6217 161.241 21.4684V23.1977H162.506C164.426 23.1977 165.866 22.5863 166.826 21.3634C167.786 20.1405 168.266 18.5471 168.266 16.5831C168.266 14.6191 167.749 13.0936 166.714 12.0868C165.679 11.0801 164.22 10.5737 162.325 10.5737H162.338Z"
                fill="white"></path>
              <path
                d="M192.672 37.0568C190.215 37.0568 188.657 36.05 188.009 34.0304C187.105 34.9816 186.232 35.7289 185.403 36.2786C184.568 36.8221 183.415 37.1 181.95 37.1C180.31 37.1 178.976 36.6368 177.941 35.7165C176.907 34.7901 176.395 33.4622 176.395 31.7267C176.395 30.72 176.62 29.8121 177.075 28.9969C177.524 28.1878 178.347 27.4281 179.531 26.7302C180.715 26.0323 182.398 25.3715 184.574 24.7539C184.998 24.6118 185.49 24.4759 186.058 24.3339C186.625 24.1918 187.205 24.056 187.797 23.9139V22.5304C187.797 20.6529 187.566 19.3806 187.099 18.7074C186.631 18.0342 185.721 17.7007 184.362 17.7007H183.813C183.645 17.7007 183.446 17.713 183.221 17.7439L183.009 19.5906C182.984 20.9617 182.66 21.9561 182.056 22.5737C181.445 23.1913 180.734 23.5001 179.917 23.5001C178.365 23.5001 177.418 22.8022 177.075 21.4002C177.187 19.6647 178.078 18.2504 179.743 17.1572C181.407 16.064 183.77 15.5205 186.824 15.5205C189.536 15.5205 191.481 16.1381 192.653 17.3672C193.825 18.6024 194.411 20.6282 194.411 23.4569V32.8631C194.411 33.6784 194.722 34.0799 195.346 34.0799C195.57 34.0799 195.782 34.0181 195.982 33.8884C196.181 33.7649 196.393 33.5178 196.618 33.1534L197.765 33.9069C197.253 35.0248 196.599 35.8339 195.795 36.3218C194.991 36.8097 193.949 37.0568 192.678 37.0568H192.672ZM182.666 30.6274C182.666 31.665 182.916 32.4308 183.408 32.9373C183.901 33.4437 184.505 33.6908 185.21 33.6908C185.603 33.6908 185.995 33.5981 186.376 33.419C186.756 33.2399 187.23 32.9496 187.797 32.5605V25.7173C187.429 25.8285 187.067 25.9459 186.718 26.0756C186.369 26.2053 186.064 26.3226 185.808 26.4338C184.848 26.829 184.082 27.3787 183.52 28.0952C182.953 28.8116 182.673 29.6577 182.673 30.6336L182.666 30.6274Z"
                fill="white"></path>
              <path
                d="M198.138 22.3144C198.138 20.3566 198.867 18.7322 200.32 17.4414C201.772 16.1568 203.997 15.5083 206.996 15.5083C208.523 15.5083 209.851 15.675 210.979 16.0147C212.107 16.3482 213.03 16.83 213.734 17.4414L218.485 15.428L219.164 15.848V19.0843H215.137C215.648 20.0107 215.898 21.0853 215.898 22.3206C215.898 24.1981 215.168 25.7854 213.716 27.0886C212.263 28.3917 210.019 29.0402 206.996 29.0402C205.525 29.0402 204.241 28.8735 203.137 28.5338C202.801 29.1205 202.626 29.769 202.626 30.4669C202.626 30.9425 202.807 31.3254 203.175 31.6219C203.542 31.9183 204.178 32.0604 205.082 32.0604H210.044C212.188 32.0604 213.903 32.3198 215.174 32.8386C216.446 33.3574 217.356 34.0738 217.911 34.9817C218.46 35.8896 218.74 36.9642 218.74 38.1933C218.74 39.5953 218.273 40.8861 217.344 42.0781C216.409 43.2701 215.019 44.2212 213.167 44.9315C211.316 45.6479 209.034 45.9999 206.323 45.9999C203.979 45.9999 202.14 45.7714 200.812 45.3082C199.484 44.845 198.549 44.2397 198.013 43.4801C197.477 42.7204 197.209 41.9237 197.209 41.0837C197.209 39.2926 198.381 37.8474 200.725 36.7604C199.846 36.396 199.222 35.9205 198.836 35.3337C198.456 34.747 198.262 34.1047 198.262 33.4006C198.262 32.4186 198.543 31.486 199.11 30.5843C199.677 29.6887 200.482 28.8055 201.529 27.9409C200.401 27.3541 199.553 26.5698 198.986 25.5878C198.418 24.6057 198.138 23.5187 198.138 22.3144ZM206.996 43.5233C209.115 43.5233 210.711 43.2145 211.783 42.5969C212.855 41.9793 213.392 41.2134 213.392 40.287C213.392 39.6694 213.167 39.1197 212.712 38.6256C212.257 38.1377 211.453 37.8906 210.293 37.8906H205.843C204.29 37.8906 203 37.7671 201.984 37.5139C201.759 37.903 201.585 38.2859 201.473 38.6503C201.361 39.0147 201.304 39.447 201.304 39.9535C201.304 41.1825 201.772 42.0904 202.701 42.6648C203.636 43.2392 205.057 43.5233 206.983 43.5233H206.996ZM207.039 17.5279C206.079 17.5279 205.356 17.9478 204.876 18.7878C204.396 19.6278 204.153 20.7889 204.153 22.2712C204.153 23.7534 204.378 24.9269 204.833 25.7792C205.282 26.6315 205.992 27.0577 206.952 27.0577C207.912 27.0577 208.685 26.6253 209.178 25.7545C209.67 24.8898 209.919 23.7102 209.919 22.2279C209.919 20.7456 209.67 19.5907 209.178 18.7631C208.685 17.9355 207.968 17.5217 207.039 17.5217V17.5279Z"
                fill="white"></path>
              <path
                d="M230.229 15.5084C232.093 15.5084 233.682 15.9036 234.998 16.6818C236.313 17.4662 237.31 18.5223 237.984 19.8502C238.663 21.1781 239 22.6974 239 24.4082C239 25.2235 238.912 25.9646 238.744 26.6316H226.495C226.638 28.8427 227.249 30.4732 228.34 31.5231C229.431 32.5731 230.709 33.0981 232.174 33.0981C233.333 33.0981 234.318 32.8819 235.141 32.4496C235.958 32.0172 236.681 31.4799 237.304 30.8314L238.788 32.1778C237.909 33.833 236.724 35.0621 235.228 35.8712C233.732 36.6802 231.949 37.0879 229.886 37.0879C227.823 37.0879 226.003 36.6617 224.419 35.8094C222.836 34.9571 221.595 33.7219 220.691 32.1161C219.788 30.5041 219.332 28.5833 219.332 26.3413C219.332 23.9882 219.862 22.0119 220.922 20.3999C221.982 18.7879 223.347 17.5712 225.011 16.7436C226.676 15.916 228.415 15.5022 230.223 15.5022L230.229 15.5084ZM229.799 17.6947C229.007 17.6947 228.278 18.1765 227.617 19.1461C226.956 20.1158 226.576 21.8822 226.495 24.4576H230.098C231.114 24.4576 231.8 24.2538 232.155 23.8462C232.511 23.4386 232.685 22.7592 232.685 21.8081C232.685 20.4061 232.405 19.3746 231.837 18.7014C231.27 18.0282 230.591 17.6947 229.805 17.6947H229.799Z"
                fill="white"></path>
            </g>
            <defs>
              <clipPath id="clip0_0_298">
                <rect width="239" height="46" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
      <div class="column">
        <nav class="is-flex is-justify-content-flex-end nav-desktop">
          {
            navigation.map((item: NavItem) => (
              <a href={item.href} class="has-text-white px-5">
                {item.text}
              </a>
            ))
          }
        </nav>
        <p
          class="has-text-grey is-size-7 has-text-right pt-4 pr-5 copyright-text"
        >
          Privacy | Terms | © Firm Page {currentYear}
        </p>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer {
    padding: 3rem 1.5rem;
  }

  nav {
    a {
      font-size: 0.9rem;
      transition: color 0.2s ease;

      &:hover {
        color: var(--bulma-primary) !important;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .nav-desktop {
      display: none !important;
    }

    .is-justify-content-center-mobile {
      justify-content: center !important;
    }

    .copyright-text {
      text-align: center !important;
      padding-right: 0 !important;
    }
  }
</style>
