---
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  buttonText?: string;
  link?: string;
  image: string | ImageMetadata;
  showSecondButton?: boolean;
  secondButtonText?: string;
  secondButtonLink?: string;
}

import UniversalImage from "./UniversalImage.astro";
import Title from "./Title.astro";

const {
  title,
  buttonText = "Get a Demo",
  link = "/demo",
  image,
  showSecondButton = true,
  secondButtonText = "Sign Up",
  secondButtonLink = "#",
} = Astro.props;

// Handle both string and ImageMetadata types
const imageUrl = typeof image === "string" ? image : image.src;
---

<section class="section">
  <div class="hero is-medium is-block is-cta">
    <div class="hero-background" style={`background-image: url(${imageUrl})`}>
    </div>
    <div class="container">
      <div class="hero-body has-text-centered">
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <Title size={2} text={title} class="has-text-white is-2" />
            <div class="buttons is-centered mt-5">
              <a href={link} class="button is-warning">{buttonText}</a>
              {
                showSecondButton && (
                  <a href={secondButtonLink} class="button is-white">
                    {secondButtonText}
                  </a>
                )
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss" scoped>
  .hero.is-cta {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    .hero-background {
      background-size: cover;
      background-position: center 23%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bulma-primary);
        opacity: 0.8;
      }
    }
    &:hover {
      transform: scale(0.95);
    }
  }

  .button.is-warning {
    &:hover {
      background: white !important;
      color: var(--bulma-primary) !important;
      border-color: white !important;
    }
  }

  .button.is-white {
    background-color: white;
    color: var(--bulma-primary);

    &:hover {
      background-color: var(--bulma-warning) !important;
      color: white;
      border-color: var(--bulma-warning);
    }
  }
</style>
