---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Title from "./Title.astro";

interface PriceBox {
  price: string;
  period: string;
  description: string;
  buttonText: string;
  buttonLink: string;
}

interface Props {
  subtitle?: string;
  title: string;
  description?: string;
  image: ImageMetadata;
  imagePosition?: "left" | "right";
  priceBox?: PriceBox;
}

const {
  subtitle,
  title,
  description,
  image,
  imagePosition = "right",
  priceBox,
} = Astro.props;
---

<section class="hero section pt-0-desktop">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div
        class="column is-flex is-align-items-center is-justify-content-center position-relative"
      >
        <div class="content is-large">
          <Title
            text={title}
            size={1}
            class="is-1 mt-0"
            preHeading={subtitle}
          />
          {description && <p>{description}</p>}

          {
            priceBox && (
              <div class="price-box">
                <div class="price-amount is-family-secondary	">
                  <span class="currency">$</span>
                  {priceBox.price}
                  <span class="period is-family-primary">
                    /{priceBox.period}
                  </span>
                </div>
                <p class="price-description">{priceBox.description}</p>
                <a
                  href={priceBox.buttonLink}
                  class="button is-primary has-text-white"
                >
                  {priceBox.buttonText}
                </a>
              </div>
            )
          }
        </div>
      </div>
      <div class="column is-12-tablet is-three-fifths-desktop">
        <figure class="image">
          <Image
            src={image}
            alt={title}
            class={`hero-image ${imagePosition === "left" ? "is-reverse" : ""}`}
          />
        </figure>
      </div>
    </div>
  </div>

  <style lang="scss" scoped>
    .hero-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    figure.image {
      height: 100%;
    }

    .position-relative {
      position: relative;
    }

    .content {
      padding-block: 5vw;
      position: relative;
      z-index: 2;
    }

    .price-box {
      margin-top: 2rem;
      padding: 2rem;
      background-color: #002c58;
      color: white;
      max-width: 500px;
      margin-left: auto;
      position: relative;
      right: -3rem;
      z-index: 10;
    }

    .price-amount {
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 0.5rem;

      .currency {
        font-size: 3rem;
        vertical-align: top;
      }

      .period {
        font-size: 1.25rem;
        font-weight: normal;
      }
    }

    .price-description {
      margin-bottom: 1.5rem;
      font-size: 1.1rem;
    }
  </style>
</section>
